@charset "UTF-8";
* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: #333;
  width: 100%;
  height: 100%;
  display: block;
}

body {
  word-break: keep-all;
  font-family: "Pretendard-Regular";
  overflow-x: hidden;
  color: #333;
}

@font-face {
  font-family: "TheJamsil5Bold";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2302_01@1.0/TheJamsil5Bold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: "Pretendard-Regular";
  src: url("https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}
/*pc!!!!!!!!!!!!!*/
/*pc!!!!!!!!!!!!!*/
/*pc!!!!!!!!!!!!!*/
@media (min-width: 1521px) {
  .con_title {
    text-align: center;
    padding-top: 150px;
    transform: translateY(50px);
    transition: 0.5s;
    opacity: 0;
  }
  .con_title h4 {
    font-size: 30px;
    color: #4d4d4d;
  }
  .con_title h3 {
    font-size: 60px;
    font-family: "TheJamsil5Bold";
    color: #ffc629;
    margin: 20px 0px 80px;
  }
  .con_title h3 span {
    color: rgb(218, 132, 4);
  }
  #con1 .con_title.on {
    transform: translateY(0px);
    opacity: 1;
  }
  #con2 .con_title.on {
    transform: translateY(0px);
    opacity: 1;
  }
  #con4 .con_title.on {
    transform: translateY(0px);
    opacity: 1;
  }
  .burgerslide1 {
    display: none;
  }
  .burgerslide {
    width: 100%;
    height: 100vh;
    z-index: 50;
    position: fixed;
    top: 0px;
    right: -100%;
    background: #ffc629;
    transition: 0.5s;
  }
  .burgerslide .slideclose {
    position: absolute;
    top: 40px;
    right: 50px;
    font-size: 40px;
    cursor: pointer;
  }
  .burgerslide div {
    width: 1050px;
    margin: 0px auto;
  }
  .burgerslide div ul {
    display: flex;
    justify-content: start;
    margin-top: 80px;
  }
  .burgerslide div ul li {
    margin-right: 10px;
    font-size: 30px;
  }
  .burgerslide div ul li:nth-of-type(1) {
    font-size: 40px;
    width: 200px;
    font-weight: bold;
    transform: translateY(-5px);
  }
  .burgerslide div ul:nth-of-type(1) {
    margin-top: 230px;
  }
  .burgerslide.on {
    transform: translateX(-100%);
  }
  header {
    position: absolute;
    top: 0px;
    left: 0px;
    z-index: 30;
    width: 100%;
    border-bottom: 1px solid #fff;
    transition: 0.5s;
    height: 80px;
    overflow: hidden;
  }
  header .menubar {
    text-align: center;
    width: 1500px;
    height: 80px;
    line-height: 80px;
    margin: 0px auto;
    display: flex;
    justify-content: space-between;
  }
  header .menubar h1 img {
    width: 120px;
    padding-top: 20px;
  }
  header .menubar .menu {
    width: 600px;
    font-size: 17px;
    display: flex;
    justify-content: space-between;
    margin: 0px 200px;
  }
  header .menubar .menu > li > a {
    color: #fff;
  }
  header .menubar .menu > li > a:hover {
    color: rgb(247, 124, 9);
  }
  header .menubar .menu ul li {
    line-height: 30px;
    font-size: 15px;
    transition: 0.5s;
    opacity: 0;
  }
  header .menubar .menu ul li a:hover {
    color: rgb(247, 124, 9);
  }
  header .menubar .login {
    width: 180px;
    font-size: 14px;
    display: flex;
    justify-content: space-between;
  }
  header .menubar .login a {
    color: #fff;
    transition: 0.5s;
  }
  header .logo2 {
    display: none;
  }
  .burger {
    width: 23px;
    height: 20px;
    cursor: pointer;
    margin-top: 30px;
  }
  .burger div {
    transition: 0.5s;
    width: 23px;
    height: 2px;
    background: #fff;
  }
  .burger div:nth-of-type(2) {
    margin: 6px 0px;
    width: 16px;
  }
  header:hover {
    background: #fff;
    height: 278px;
  }
  header.on {
    background: #fff;
    height: 278px;
  }
  header:hover .logo2 {
    display: block;
  }
  header:hover .logo1 {
    display: none;
  }
  header:hover .menu ul li {
    opacity: 1;
  }
  header:hover .menu > li > a {
    color: #333;
  }
  header:hover .login a {
    color: #555;
  }
  header:hover .burger div {
    background: #555;
  }
  #visual {
    position: relative;
    width: 100%;
    height: 780px;
    background: url(../img/sub1_visual.jpg) no-repeat top/cover;
  }
  #visual .vi_text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: #fff;
  }
  #visual .vi_text h2 {
    font-size: 60px;
    font-family: "TheJamsil5Bold";
    margin-bottom: 20px;
    text-shadow: 4px 4px 5px rgba(61, 54, 54, 0.478);
    transform: translateY(50px);
    transition: 0.5s;
    opacity: 0;
    animation: up 1s forwards;
  }
  #visual .vi_text p {
    font-size: 30px;
    text-shadow: 2px 2px 3px rgba(61, 54, 54, 0.478);
    transform: translateY(50px);
    transition: 0.5s 0.3s;
    opacity: 0;
    animation: up 1s 0.5s forwards;
  }
  @keyframes up {
    100% {
      opacity: 1;
      transform: translateY(0%);
    }
  }
  #con1 {
    width: 100%;
    height: 100vh;
  }
  #con1 .con1box {
    margin: 0px auto;
    position: relative;
    transform: translateY(50px);
    transition: 0.5s 0.3s;
    opacity: 0;
  }
  #con1 .con1box.on {
    transform: translateY(0px);
    opacity: 1;
  }
  #con1 .plus {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    width: 3700px;
    display: flex;
    justify-content: space-between;
  }
  #con1 .slide12 {
    position: absolute;
  }
  #con1 .slide1 {
    width: 1200px;
    height: 600px;
    overflow: hidden;
  }
  #con1 .slide1 ul {
    width: 600%;
    height: 100%;
    display: flex;
    justify-content: space-between;
  }
  #con1 .slide1 ul li {
    width: 100%;
    height: 100%;
  }
  #con1 .slide1 ul li img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  #con1 .slide11 li:nth-of-type(1) {
    background: url(../img/sub1_con1_5.jpg) no-repeat right/cover;
  }
  #con1 .slide11 li:nth-of-type(2) {
    background: url(../img/sub1_con1_1.jpg) no-repeat right/cover;
  }
  #con1 .slide11 li:nth-of-type(3) {
    background: url(../img/sub1_con1_2.jpg) no-repeat right/cover;
  }
  #con1 .slide11 li:nth-of-type(4) {
    background: url(../img/sub1_con1_3.jpg) no-repeat right/cover;
  }
  #con1 .slide11 li:nth-of-type(5) {
    background: url(../img/sub1_con1_4.jpg) no-repeat right/cover;
  }
  #con1 .slide11 li:nth-of-type(6) {
    background: url(../img/sub1_con1_5.jpg) no-repeat right/cover;
  }
  #con1 .slide12 {
    left: 50%;
    transform: translateX(-50%);
  }
  #con1 .slide12 li:nth-of-type(1) {
    background: url(../img/sub1_con1_1.jpg) no-repeat center/cover;
  }
  #con1 .slide12 li:nth-of-type(2) {
    background: url(../img/sub1_con1_2.jpg) no-repeat center/cover;
  }
  #con1 .slide12 li:nth-of-type(3) {
    background: url(../img/sub1_con1_3.jpg) no-repeat center/cover;
  }
  #con1 .slide12 li:nth-of-type(4) {
    background: url(../img/sub1_con1_4.jpg) no-repeat center/cover;
  }
  #con1 .slide12 li:nth-of-type(5) {
    background: url(../img/sub1_con1_5.jpg) no-repeat center/cover;
  }
  #con1 .slide12 li:nth-of-type(6) {
    background: url(../img/sub1_con1_1.jpg) no-repeat center/cover;
  }
  #con1 .slide13 li:nth-of-type(1) {
    background: url(../img/sub1_con1_2.jpg) no-repeat left/cover;
  }
  #con1 .slide13 li:nth-of-type(2) {
    background: url(../img/sub1_con1_3.jpg) no-repeat left/cover;
  }
  #con1 .slide13 li:nth-of-type(3) {
    background: url(../img/sub1_con1_4.jpg) no-repeat left/cover;
  }
  #con1 .slide13 li:nth-of-type(4) {
    background: url(../img/sub1_con1_5.jpg) no-repeat left/cover;
  }
  #con1 .slide13 li:nth-of-type(5) {
    background: url(../img/sub1_con1_1.jpg) no-repeat left/cover;
  }
  #con1 .slide13 li:nth-of-type(6) {
    background: url(../img/sub1_con1_2.jpg) no-repeat left/cover;
  }
  #con1 .arr {
    margin: 720px auto 0px;
    display: flex;
    justify-content: space-between;
    width: 210px;
    transform: translateY(50px);
    transition: 0.5s 0.3s;
    opacity: 0;
  }
  #con1 .arr span {
    font-size: 35px;
    color: #aaa;
    cursor: pointer;
  }
  #con1 .arr .navi {
    transform: translateY(11px);
    width: 160px;
    height: 13px;
    display: flex;
    justify-content: space-between;
  }
  #con1 .arr .navi div {
    width: 13px;
    height: 13px;
    border-radius: 50px;
    background: #aaa;
    transition: 0.5s;
  }
  #con1 .arr .navi div.on {
    width: 55px;
    background: #ffc629;
  }
  #con1 .arr.on {
    transform: translateY(0px);
    opacity: 1;
  }
  #con1 .board {
    position: absolute;
    width: 350px;
    padding: 25px;
  }
  #con1 .board h4 {
    font-size: 20px;
    margin-left: 8px;
  }
  #con1 .board p {
    margin-top: 15px;
    font-size: 17px;
    line-height: 27px;
  }
  #con1 .board .icon1 {
    display: flex;
    justify-content: start;
  }
  #con1 .board1 {
    top: 0px;
    right: 0px;
    height: 370px;
    background: rgba(255, 255, 255, 0.8078431373);
  }
  #con1 .board1 img {
    width: 20px;
  }
  #con1 .board1 h4 {
    transform: translateY(2px);
  }
  #con1 .board1 h3 {
    font-size: 30px;
    margin-top: 10px;
  }
  #con1 .board1 .text1 {
    padding: 25px;
    position: absolute;
    top: 0px;
    left: 0px;
    display: none;
  }
  #con1 .board1 .text1.on {
    display: block;
  }
  #con1 .board2 {
    top: 370px;
    right: 0px;
    height: 230px;
    background: rgba(122, 151, 173, 0.8549019608);
  }
  #con1 .board2 h4 {
    color: #fff;
    letter-spacing: 1px;
  }
  #con1 .board2 .point {
    position: relative;
  }
  #con1 .board2 p {
    color: #fff;
    position: absolute;
    top: 0px;
    left: 0px;
    display: none;
  }
  #con1 .board2 p.on {
    display: block;
  }
  #con1 .board2 img {
    width: 20px;
  }
  #con2 {
    margin-top: 100px;
    width: 100%;
  }
  #con2 .img {
    width: 100%;
    height: 700px;
    position: relative;
  }
  #con2 .img div:first-child {
    width: 70%;
    height: 90%;
    opacity: 0;
    background: url(../img/sub1_con2_main.jpg) no-repeat center/cover;
    position: absolute;
    top: 0px;
    left: 0px;
    z-index: 2;
    transform: translateX(-1000px);
    transition: 0.5s 0.3s;
  }
  #con2 .img div:last-child {
    width: 60%;
    height: 90%;
    opacity: 0;
    background: #ffc629;
    position: absolute;
    bottom: 0px;
    right: 0px;
    transform: translateX(1000px);
    transition: 0.5s;
  }
  #con2 .img div.on {
    transform: translateX(0px);
    opacity: 1;
  }
  #con2 ul {
    width: 1300px;
    height: 380px;
    margin: 150px auto 0px;
    display: flex;
    justify-content: space-between;
  }
  #con2 ul h4 {
    font-size: 20px;
    margin-left: 8px;
    transform: translateY(3px);
  }
  #con2 ul h3 {
    font-size: 35px;
    margin-top: 10px;
  }
  #con2 ul p {
    font-size: 19px;
    margin-top: 20px;
    line-height: 30px;
  }
  #con2 ul img {
    width: 25px;
  }
  #con2 ul .place {
    transform: translateY(2px);
  }
  #con2 ul .icon {
    display: flex;
    justify-content: start;
  }
  #con2 ul .icon4 {
    margin-top: 40px;
  }
  #con2 ul:nth-of-type(1) {
    transform: translateX(500px);
    transition: 0.5s 0.3s;
    opacity: 0;
  }
  #con2 ul:nth-of-type(2) {
    transform: translateX(-500px);
    transition: 0.5s 0.6s;
    opacity: 0;
  }
  #con2 ul:nth-of-type(3) {
    transform: translateX(500px);
    transition: 0.5s 0.9s;
    opacity: 0;
    margin-bottom: 100px;
  }
  #con2 ul.on {
    transform: translateX(0px);
    opacity: 1;
  }
  #con2 ul:nth-of-type(1) .placeimg {
    background: url(../img/sub1_con2_1.jpg) no-repeat center/cover;
  }
  #con2 ul:nth-of-type(2) .placeimg {
    background: url(../img/sub1_con2_2.jpg) no-repeat center/cover;
  }
  #con2 ul:nth-of-type(3) .placeimg {
    background: url(../img/sub1_con2_3.jpg) no-repeat center/cover;
  }
  #con2 ul:nth-of-type(2) .txt {
    text-align: right;
    position: relative;
  }
  #con2 ul:nth-of-type(2) .txt h4 {
    width: 900px;
    text-align: right;
  }
  #con2 ul:nth-of-type(2) .txt .icon3 img {
    position: absolute;
    right: 75px;
  }
  #con2 ul:nth-of-type(2) .txt .icon4 img {
    position: absolute;
    right: 43px;
  }
  #con2 .placeimg {
    width: 350px;
    background: #4d4d4d;
  }
  #con2 .txt {
    width: 900px;
    height: 500px;
  }
  footer {
    width: 100%;
    height: 180px;
    background: #333;
  }
  footer ul {
    width: 1500px;
    display: flex;
    justify-content: space-between;
    color: #fff;
    margin: 0px auto;
    padding-top: 35px;
  }
  footer ul li:nth-of-type(1) {
    margin-top: 35px;
  }
  footer ul li:nth-of-type(2) {
    width: 1000px;
    line-height: 25px;
  }
  footer ul li:nth-of-type(2) p {
    font-size: 17px;
    margin-bottom: 15px;
  }
  footer ul li:nth-of-type(2) p .point {
    cursor: pointer;
    font-size: 17px;
  }
  footer ul li:nth-of-type(2) span {
    font-size: 14px;
    line-height: 35px;
  }
  footer ul li:nth-of-type(3) {
    display: flex;
    gap: 10px;
  }
  footer ul li:nth-of-type(3) img {
    width: 45px;
  }
  footer ul a {
    color: #fff;
  }
}
/*태블릿!!!!!!!!!!!!!*/
/*태블릿!!!!!!!!!!!!!*/
/*태블릿!!!!!!!!!!!!!*/
@media (min-width: 768px) and (max-width: 1520px) {
  .con_title {
    text-align: center;
    padding-top: 10vw;
    transform: translateY(50px);
    transition: 0.5s;
    opacity: 0;
  }
  .con_title h4 {
    font-size: 2vw;
    color: #4d4d4d;
  }
  .con_title h3 {
    font-size: 4.3vw;
    font-family: "TheJamsil5Bold";
    color: #ffc629;
    margin: 1vw 0px 5vw;
  }
  .con_title h3 span {
    color: rgb(218, 132, 4);
  }
  #con1 .con_title.on {
    transform: translateY(0px);
    opacity: 1;
  }
  #con2 .con_title.on {
    transform: translateY(0px);
    opacity: 1;
  }
  #con4 .con_title.on {
    transform: translateY(0px);
    opacity: 1;
  }
  .burgerslide1 {
    display: none;
  }
  .burgerslide {
    width: 100%;
    height: 100vh;
    z-index: 50;
    position: fixed;
    top: 0px;
    right: -100%;
    background: #ffc629;
    transition: 0.5s;
  }
  .burgerslide .slideclose {
    position: absolute;
    top: 2.5vw;
    right: 3vw;
    font-size: 3vw;
    cursor: pointer;
  }
  .burgerslide div {
    width: 69.3vw;
    margin: 0px auto;
  }
  .burgerslide div ul {
    display: flex;
    justify-content: start;
    margin-top: 5.5vw;
  }
  .burgerslide div ul li {
    margin-right: 0.5vw;
    font-size: 2vw;
  }
  .burgerslide div ul li:nth-of-type(1) {
    font-size: 2.6vw;
    width: 13vw;
    font-weight: bold;
    transform: translateY(-5px);
  }
  .burgerslide div ul:nth-of-type(1) {
    margin-top: 15vw;
  }
  .burgerslide.on {
    transform: translateX(-100%);
  }
  header {
    position: absolute;
    top: 0px;
    left: 0px;
    z-index: 30;
    width: 100%;
    border-bottom: 1px solid #fff;
    transition: 0.5s;
    height: 5.2vw;
    overflow: hidden;
  }
  header .menubar {
    text-align: center;
    width: 90%;
    height: 5.2vw;
    line-height: 5.2vw;
    margin: 0px auto;
    display: flex;
    justify-content: space-between;
  }
  header .menubar h1 img {
    width: 7.5vw;
    transform: translateY(-0.1vw);
  }
  header .menubar .menu {
    width: 40vw;
    font-size: 1.1vw;
    display: flex;
    justify-content: space-between;
  }
  header .menubar .menu > li > a {
    color: #fff;
  }
  header .menubar .menu > li > a:hover {
    color: rgb(247, 124, 9);
  }
  header .menubar .menu ul li {
    line-height: 1.9vw;
    font-size: 1vw;
    transition: 0.5s;
    opacity: 0;
  }
  header .menubar .menu ul li a:hover {
    color: rgb(247, 124, 9);
  }
  header .menubar .login {
    width: 12vw;
    font-size: 0.9vw;
    display: flex;
    justify-content: space-between;
  }
  header .menubar .login a {
    color: #fff;
    transition: 0.5s;
  }
  header .logo2 {
    display: none;
  }
  .burger {
    width: 1.5vw;
    height: 1.34vw;
    cursor: pointer;
    margin-top: 2vw;
  }
  .burger div {
    transition: 0.5s;
    width: 1.5vw;
    height: 2px;
    background: #fff;
  }
  .burger div:nth-of-type(2) {
    margin: 0.4vw 0px;
    width: 1.1vw;
  }
  header:hover {
    background: #fff;
    height: 18vw;
  }
  header:hover .logo2 {
    display: block;
  }
  header:hover .logo1 {
    display: none;
  }
  header:hover .menu ul li {
    opacity: 1;
  }
  header:hover .menu > li > a {
    color: #333;
  }
  header:hover .login a {
    color: #555;
  }
  header:hover .burger div {
    background: #555;
  }
  #visual {
    position: relative;
    width: 100%;
    height: 51.2vw;
    background: url(../img/sub1_visual.jpg) no-repeat top/cover;
  }
  #visual .vi_text {
    width: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: #fff;
  }
  #visual .vi_text h2 {
    font-size: 3.9vw;
    font-family: "TheJamsil5Bold";
    margin-bottom: 2vw;
    text-shadow: 4px 4px 5px rgba(61, 54, 54, 0.478);
    transform: translateY(50px);
    transition: 0.5s;
    opacity: 0;
    animation: up 1s forwards;
  }
  #visual .vi_text p {
    font-size: 2vw;
    text-shadow: 2px 2px 3px rgba(61, 54, 54, 0.478);
    transform: translateY(50px);
    transition: 0.5s 0.3s;
    opacity: 0;
    animation: up 1s 0.5s forwards;
  }
  @keyframes up {
    100% {
      opacity: 1;
      transform: translateY(0%);
    }
  }
  #con1 {
    width: 100%;
    height: 69.3vw;
  }
  #con1 .con1box {
    margin: 0px auto;
    position: relative;
    transform: translateY(50px);
    transition: 0.5s 0.3s;
    opacity: 0;
  }
  #con1 .con1box.on {
    transform: translateY(0px);
    opacity: 1;
  }
  #con1 .plus {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    width: 243vw;
    display: flex;
    justify-content: space-between;
  }
  #con1 .slide12 {
    position: absolute;
  }
  #con1 .slide1 {
    width: 79vw;
    height: 39.6vw;
    overflow: hidden;
  }
  #con1 .slide1 ul {
    width: 600%;
    height: 100%;
    display: flex;
    justify-content: space-between;
  }
  #con1 .slide1 ul li {
    width: 100%;
    height: 100%;
  }
  #con1 .slide1 ul li img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  #con1 .slide11 li:nth-of-type(1) {
    background: url(../img/sub1_con1_5.jpg) no-repeat right/cover;
  }
  #con1 .slide11 li:nth-of-type(2) {
    background: url(../img/sub1_con1_1.jpg) no-repeat right/cover;
  }
  #con1 .slide11 li:nth-of-type(3) {
    background: url(../img/sub1_con1_2.jpg) no-repeat right/cover;
  }
  #con1 .slide11 li:nth-of-type(4) {
    background: url(../img/sub1_con1_3.jpg) no-repeat right/cover;
  }
  #con1 .slide11 li:nth-of-type(5) {
    background: url(../img/sub1_con1_4.jpg) no-repeat right/cover;
  }
  #con1 .slide11 li:nth-of-type(6) {
    background: url(../img/sub1_con1_5.jpg) no-repeat right/cover;
  }
  #con1 .slide12 {
    left: 50%;
    transform: translateX(-50%);
  }
  #con1 .slide12 li:nth-of-type(1) {
    background: url(../img/sub1_con1_1.jpg) no-repeat center/cover;
  }
  #con1 .slide12 li:nth-of-type(2) {
    background: url(../img/sub1_con1_2.jpg) no-repeat center/cover;
  }
  #con1 .slide12 li:nth-of-type(3) {
    background: url(../img/sub1_con1_3.jpg) no-repeat center/cover;
  }
  #con1 .slide12 li:nth-of-type(4) {
    background: url(../img/sub1_con1_4.jpg) no-repeat center/cover;
  }
  #con1 .slide12 li:nth-of-type(5) {
    background: url(../img/sub1_con1_5.jpg) no-repeat center/cover;
  }
  #con1 .slide12 li:nth-of-type(6) {
    background: url(../img/sub1_con1_1.jpg) no-repeat center/cover;
  }
  #con1 .slide13 li:nth-of-type(1) {
    background: url(../img/sub1_con1_2.jpg) no-repeat left/cover;
  }
  #con1 .slide13 li:nth-of-type(2) {
    background: url(../img/sub1_con1_3.jpg) no-repeat left/cover;
  }
  #con1 .slide13 li:nth-of-type(3) {
    background: url(../img/sub1_con1_4.jpg) no-repeat left/cover;
  }
  #con1 .slide13 li:nth-of-type(4) {
    background: url(../img/sub1_con1_5.jpg) no-repeat left/cover;
  }
  #con1 .slide13 li:nth-of-type(5) {
    background: url(../img/sub1_con1_1.jpg) no-repeat left/cover;
  }
  #con1 .slide13 li:nth-of-type(6) {
    background: url(../img/sub1_con1_2.jpg) no-repeat left/cover;
  }
  #con1 .arr {
    margin: 47.3vw auto 0px;
    display: flex;
    justify-content: space-between;
    width: 14.2vw;
    transform: translateY(50px);
    transition: 0.5s 0.3s;
    opacity: 0;
  }
  #con1 .arr span {
    font-size: 2.5vw;
    color: #aaa;
    cursor: pointer;
  }
  #con1 .arr .navi {
    transform: translateY(0.75vw);
    width: 9vw;
    height: 1vw;
    display: flex;
    justify-content: space-between;
  }
  #con1 .arr .navi div {
    width: 0.9vw;
    height: 0.9vw;
    border-radius: 50px;
    background: #aaa;
    transition: 0.5s;
  }
  #con1 .arr .navi div.on {
    width: 3.1vw;
    background: #ffc629;
  }
  #con1 .arr.on {
    transform: translateY(0px);
    opacity: 1;
  }
  #con1 .board {
    position: absolute;
    width: 23.2vw;
    padding: 1.7vw;
  }
  #con1 .board h4 {
    font-size: 1.5vw;
    margin-left: 0.5vw;
  }
  #con1 .board p {
    margin-top: 0.9vw;
    font-size: 1.15vw;
    line-height: 1.8vw;
  }
  #con1 .board .icon1 {
    display: flex;
    justify-content: start;
  }
  #con1 .board1 {
    top: 0px;
    right: 0px;
    height: 25vw;
    background: rgba(255, 255, 255, 0.8078431373);
  }
  #con1 .board1 img {
    width: 1.5vw;
  }
  #con1 .board1 h4 {
    transform: translateY(0.1vw);
  }
  #con1 .board1 h3 {
    font-size: 2vw;
    margin-top: 0.7vw;
  }
  #con1 .board1 .text1 {
    padding: 1.7vw;
    position: absolute;
    top: 0px;
    left: 0px;
    display: none;
  }
  #con1 .board1 .text1.on {
    display: block;
  }
  #con1 .board2 {
    top: 25vw;
    right: 0px;
    height: 14.6vw;
    background: rgba(122, 151, 173, 0.8549019608);
  }
  #con1 .board2 h4 {
    color: #fff;
    letter-spacing: 0.1vw;
  }
  #con1 .board2 .point {
    position: relative;
  }
  #con1 .board2 p {
    color: #fff;
    position: absolute;
    top: 0px;
    left: 0px;
    display: none;
  }
  #con1 .board2 p.on {
    display: block;
  }
  #con1 .board2 img {
    width: 1.5vw;
  }
  #con2 {
    margin-top: 6.6vw;
    width: 100%;
  }
  #con2 .img {
    width: 100%;
    height: 46vw;
    position: relative;
  }
  #con2 .img div:first-child {
    width: 70%;
    height: 90%;
    opacity: 0;
    background: url(../img/sub1_con2_main.jpg) no-repeat center/cover;
    position: absolute;
    top: 0px;
    left: 0px;
    z-index: 2;
    transform: translateX(-50vw);
    transition: 0.5s 0.3s;
  }
  #con2 .img div:last-child {
    width: 60%;
    height: 90%;
    opacity: 0;
    background: #ffc629;
    position: absolute;
    bottom: 0px;
    right: 0px;
    transform: translateX(50vw);
    transition: 0.5s;
  }
  #con2 .img div.on {
    transform: translateX(0px);
    opacity: 1;
  }
  #con2 ul {
    width: 87%;
    height: 25vw;
    margin: 10vw auto 0px;
    display: flex;
    justify-content: space-between;
  }
  #con2 ul h4 {
    font-size: 1.5vw;
    margin-left: 0.7vw;
    transform: translateY(0.1vw);
  }
  #con2 ul h3 {
    font-size: 2.35vw;
    margin-top: 0.8vw;
  }
  #con2 ul p {
    font-size: 1.27vw;
    margin-top: 1.3vw;
    line-height: 2vw;
  }
  #con2 ul img {
    width: 1.7vw;
  }
  #con2 ul .place {
    transform: translateY(0.1vw);
  }
  #con2 ul .icon {
    display: flex;
    justify-content: start;
  }
  #con2 ul .icon4 {
    margin-top: 2.7vw;
  }
  #con2 ul:nth-of-type(1) {
    transform: translateX(34vw);
    transition: 0.5s 0.3s;
    opacity: 0;
  }
  #con2 ul:nth-of-type(2) {
    transform: translateX(-34px);
    transition: 0.5s 0.6s;
    opacity: 0;
  }
  #con2 ul:nth-of-type(3) {
    transform: translateX(34px);
    transition: 0.5s 0.9s;
    opacity: 0;
    margin-bottom: 6.65vw;
  }
  #con2 ul.on {
    transform: translateX(0px);
    opacity: 1;
  }
  #con2 ul:nth-of-type(1) .placeimg {
    background: url(../img/sub1_con2_1.jpg) no-repeat center/cover;
  }
  #con2 ul:nth-of-type(2) .placeimg {
    background: url(../img/sub1_con2_2.jpg) no-repeat center/cover;
  }
  #con2 ul:nth-of-type(3) .placeimg {
    background: url(../img/sub1_con2_3.jpg) no-repeat center/cover;
  }
  #con2 ul:nth-of-type(2) .txt {
    text-align: right;
    position: relative;
  }
  #con2 ul:nth-of-type(2) .txt h4 {
    width: 59.2vw;
    text-align: right;
  }
  #con2 ul:nth-of-type(2) .txt .icon3 img {
    position: absolute;
    right: 5.75vw;
  }
  #con2 ul:nth-of-type(2) .txt .icon4 img {
    position: absolute;
    right: 3.3vw;
  }
  #con2 .placeimg {
    width: 23.2vw;
    background: #4d4d4d;
  }
  #con2 .txt {
    width: 59.2vw;
    height: 25vw;
  }
  footer {
    width: 100%;
    height: 12vw;
    background: #333;
  }
  footer ul {
    width: 90%;
    display: flex;
    justify-content: space-between;
    color: #fff;
    margin: 0px auto;
    padding-top: 2vw;
  }
  footer ul li:nth-of-type(1) {
    margin-top: 3vw;
    width: 9vw;
  }
  footer ul li:nth-of-type(1) img {
    width: 100%;
  }
  footer ul li:nth-of-type(2) {
    width: 62vw;
    line-height: 2vw;
    margin-top: 0.6vw;
    font-size: 1.1vw;
  }
  footer ul li:nth-of-type(2) p {
    font-size: 1vw;
    margin-bottom: 1.2vw;
  }
  footer ul li:nth-of-type(2) p .point {
    cursor: pointer;
    font-size: 1.1vw;
  }
  footer ul li:nth-of-type(2) span {
    font-size: 0.9vw;
    line-height: 2vw;
  }
  footer ul li:nth-of-type(3) {
    display: flex;
    gap: 0.8vw;
  }
  footer ul li:nth-of-type(3) img {
    width: 3vw;
  }
  footer ul a {
    color: #fff;
  }
}
/*모바일!!!!!!!!!!!!!*/
/*모바일!!!!!!!!!!!!!*/
/*모바일!!!!!!!!!!!!!*/
@media (max-width: 767px) {
  .con_title {
    text-align: center;
    padding-top: 10vw;
    transform: translateY(50px);
    transition: 0.5s;
    opacity: 0;
  }
  .con_title h4 {
    font-size: 3vw;
    color: #4d4d4d;
    margin-top: 1.2vw;
  }
  .con_title h3 {
    font-size: 6vw;
    font-family: "TheJamsil5Bold";
    color: #ffc629;
    margin: 1.5vw 0px 6vw;
  }
  .con_title h3 span {
    color: rgb(218, 132, 4);
  }
  #con1 .con_title.on {
    transform: translateY(0px);
    opacity: 1;
  }
  #con2 .con_title.on {
    transform: translateY(0px);
    opacity: 1;
  }
  #con4 .con_title.on {
    transform: translateY(0px);
    opacity: 1;
  }
  .burgerslide {
    display: none;
  }
  .burgerslide1 {
    width: 100%;
    height: 100vh;
    z-index: 50;
    position: fixed;
    top: 0px;
    right: -100%;
    background: #ffc629;
    transition: 0.5s;
  }
  .burgerslide1 .burgerall {
    position: absolute;
    width: 85%;
    top: 43%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  .burgerslide1 .slideclose {
    position: absolute;
    top: 4vw;
    right: 4.5vw;
    font-size: 6vw;
    cursor: pointer;
  }
  .burgerslide1 .burgertext {
    margin: 6vw auto;
    font-size: 5vw;
  }
  .burgerslide1 .burgertext ul {
    width: 100%;
    margin-top: 2vw;
    display: flex;
    justify-content: start;
    font-size: 3.2vw;
  }
  .burgerslide1 .burgertext ul li {
    cursor: pointer;
  }
  .burgerslide1 .burgertext ul .dot {
    margin: 0px 0.7vw;
    cursor: none;
  }
  .burgerslide1 .login {
    width: 35%;
    display: flex;
    justify-content: space-between;
    margin: 15vw auto 0px;
    font-size: 2.5vw;
  }
  .burgerslide1.on {
    transform: translateX(-100%);
  }
  header {
    position: absolute;
    top: 0px;
    left: 0px;
    z-index: 30;
    width: 100%;
    border-bottom: 1px solid #fff;
  }
  header .menubar {
    text-align: center;
    width: 90%;
    margin: 0px auto;
    display: flex;
    justify-content: space-between;
    padding-bottom: 1vw;
  }
  header .menubar h1 img {
    width: 13vw;
    transform: translateY(-0.7vw);
  }
  header .menubar .menu {
    display: none;
  }
  header .menubar .login {
    display: none;
  }
  header .logo2 {
    display: none;
  }
  .burger {
    margin-right: 2.2vw;
    width: 5vw;
    height: 3.55vw;
    cursor: pointer;
    margin-top: 3.5vw;
  }
  .burger div {
    transition: 0.5s;
    width: 5vw;
    height: 0.45vw;
    background: #fff;
  }
  .burger div:nth-of-type(2) {
    margin: 1.1vw 0px;
    width: 3.5vw;
  }
  #visual {
    position: relative;
    top: 0px;
    width: 100%;
    height: 95vw;
    background: url(../img/sub1_visual.jpg) no-repeat top/cover;
  }
  #visual .vi_text {
    width: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: #fff;
  }
  #visual .vi_text h2 {
    font-size: 6.5vw;
    font-family: "TheJamsil5Bold";
    margin-bottom: 2.5vw;
    text-shadow: 4px 4px 5px rgba(61, 54, 54, 0.478);
    transform: translateY(50px);
    transition: 0.5s;
    opacity: 0;
    animation: up 1s forwards;
  }
  #visual .vi_text p {
    font-size: 4vw;
    text-shadow: 2px 2px 3px rgba(61, 54, 54, 0.478);
    transform: translateY(50px);
    transition: 0.5s 0.3s;
    opacity: 0;
    animation: up 1s 0.5s forwards;
  }
  @keyframes up {
    100% {
      opacity: 1;
      transform: translateY(0%);
    }
  }
  #con1 {
    width: 100%;
    height: 99vw;
  }
  #con1 .con1box {
    margin: 0px auto;
    position: relative;
    transform: translateY(50px);
    transition: 0.5s 0.3s;
    opacity: 0;
  }
  #con1 .con1box.on {
    transform: translateY(0px);
    opacity: 1;
  }
  #con1 .plus {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    width: 243vw;
    display: flex;
    justify-content: space-between;
  }
  #con1 .slide12 {
    position: absolute;
  }
  #con1 .slide1 {
    width: 79vw;
    height: 55vw;
    overflow: hidden;
  }
  #con1 .slide1 ul {
    width: 600%;
    height: 100%;
    display: flex;
    justify-content: space-between;
  }
  #con1 .slide1 ul li {
    width: 100%;
    height: 100%;
  }
  #con1 .slide1 ul li img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  #con1 .slide11 li:nth-of-type(1) {
    background: url(../img/sub1_con1_5.jpg) no-repeat right/cover;
  }
  #con1 .slide11 li:nth-of-type(2) {
    background: url(../img/sub1_con1_1.jpg) no-repeat right/cover;
  }
  #con1 .slide11 li:nth-of-type(3) {
    background: url(../img/sub1_con1_2.jpg) no-repeat right/cover;
  }
  #con1 .slide11 li:nth-of-type(4) {
    background: url(../img/sub1_con1_3.jpg) no-repeat right/cover;
  }
  #con1 .slide11 li:nth-of-type(5) {
    background: url(../img/sub1_con1_4.jpg) no-repeat right/cover;
  }
  #con1 .slide11 li:nth-of-type(6) {
    background: url(../img/sub1_con1_5.jpg) no-repeat right/cover;
  }
  #con1 .slide12 {
    left: 50%;
    transform: translateX(-50%);
  }
  #con1 .slide12 li:nth-of-type(1) {
    background: url(../img/sub1_con1_1.jpg) no-repeat center/cover;
  }
  #con1 .slide12 li:nth-of-type(2) {
    background: url(../img/sub1_con1_2.jpg) no-repeat center/cover;
  }
  #con1 .slide12 li:nth-of-type(3) {
    background: url(../img/sub1_con1_3.jpg) no-repeat center/cover;
  }
  #con1 .slide12 li:nth-of-type(4) {
    background: url(../img/sub1_con1_4.jpg) no-repeat center/cover;
  }
  #con1 .slide12 li:nth-of-type(5) {
    background: url(../img/sub1_con1_5.jpg) no-repeat center/cover;
  }
  #con1 .slide12 li:nth-of-type(6) {
    background: url(../img/sub1_con1_1.jpg) no-repeat center/cover;
  }
  #con1 .slide13 li:nth-of-type(1) {
    background: url(../img/sub1_con1_2.jpg) no-repeat left/cover;
  }
  #con1 .slide13 li:nth-of-type(2) {
    background: url(../img/sub1_con1_3.jpg) no-repeat left/cover;
  }
  #con1 .slide13 li:nth-of-type(3) {
    background: url(../img/sub1_con1_4.jpg) no-repeat left/cover;
  }
  #con1 .slide13 li:nth-of-type(4) {
    background: url(../img/sub1_con1_5.jpg) no-repeat left/cover;
  }
  #con1 .slide13 li:nth-of-type(5) {
    background: url(../img/sub1_con1_1.jpg) no-repeat left/cover;
  }
  #con1 .slide13 li:nth-of-type(6) {
    background: url(../img/sub1_con1_2.jpg) no-repeat left/cover;
  }
  #con1 .arr {
    margin: 63.7vw auto 0px;
    display: flex;
    justify-content: space-between;
    width: 27vw;
    transform: translateY(50px);
    transition: 0.5s 0.3s;
    opacity: 0;
  }
  #con1 .arr span {
    font-size: 5.5vw;
    color: #aaa;
    cursor: pointer;
  }
  #con1 .arr .navi {
    transform: translateY(1.7vw);
    width: 22vw;
    height: 1vw;
    display: flex;
    justify-content: space-between;
  }
  #con1 .arr .navi div {
    width: 1.8vw;
    height: 1.8vw;
    border-radius: 50px;
    background: #aaa;
    transition: 0.5s;
  }
  #con1 .arr .navi div.on {
    width: 4vw;
    background: #ffc629;
  }
  #con1 .arr.on {
    transform: translateY(0px);
    opacity: 1;
  }
  #con1 .board {
    position: absolute;
    width: 30vw;
    padding: 1.7vw;
  }
  #con1 .board h4 {
    font-size: 2.5vw;
    margin-left: 0.7vw;
  }
  #con1 .board p {
    margin-top: 1.1vw;
    font-size: 2.2vw;
    line-height: 2.8vw;
  }
  #con1 .board p span {
    display: none;
  }
  #con1 .board .icon1 {
    display: flex;
    justify-content: start;
  }
  #con1 .board1 {
    top: 0px;
    right: 0px;
    height: 35vw;
    background: rgba(255, 255, 255, 0.8078431373);
  }
  #con1 .board1 img {
    width: 2.5vw;
  }
  #con1 .board1 h4 {
    transform: translateY(0.1vw);
  }
  #con1 .board1 h3 {
    font-size: 3vw;
    margin-top: 1vw;
  }
  #con1 .board1 h3 span {
    display: none;
  }
  #con1 .board1 .text1 {
    padding: 1.7vw;
    position: absolute;
    top: 0px;
    left: 0px;
    display: none;
  }
  #con1 .board1 .text1.on {
    display: block;
  }
  #con1 .board2 {
    top: 35vw;
    right: 0px;
    height: 20vw;
    background: rgba(122, 151, 173, 0.8549019608);
  }
  #con1 .board2 h4 {
    color: #fff;
    letter-spacing: 0.1vw;
  }
  #con1 .board2 .point {
    position: relative;
  }
  #con1 .board2 p {
    color: #fff;
    position: absolute;
    top: 0px;
    left: 0px;
    display: none;
  }
  #con1 .board2 p.on {
    display: block;
  }
  #con1 .board2 img {
    width: 2.5vw;
  }
  #con2 {
    width: 100%;
    height: 351vw;
  }
  #con2 .img {
    display: none;
  }
  #con2 ul {
    width: 90%;
    margin: 0vw auto 8vw;
  }
  #con2 ul h4 {
    font-size: 3vw;
    margin-left: 0.7vw;
    transform: translateY(0.1vw);
    margin-bottom: 1.1vw;
  }
  #con2 ul h3 {
    font-size: 4vw;
    margin-bottom: 1.2vw;
  }
  #con2 ul p {
    font-size: 2.6vw;
    line-height: 3.5vw;
  }
  #con2 ul img {
    width: 3vw;
    height: 4vw;
  }
  #con2 ul .place {
    transform: translateY(0.2vw);
  }
  #con2 ul .icon {
    display: flex;
    justify-content: start;
  }
  #con2 ul .icon4 {
    margin-top: 2.7vw;
  }
  #con2 ul:nth-of-type(1) {
    transform: translateY(50px);
    transition: 0.5s 0.3s;
    opacity: 0;
  }
  #con2 ul:nth-of-type(2) {
    transform: translateY(50px);
    transition: 0.5s 0.6s;
    opacity: 0;
  }
  #con2 ul:nth-of-type(2) .txt {
    transform: translateY(78vw);
  }
  #con2 ul:nth-of-type(3) {
    transform: translateY(50px);
    transition: 0.5s 0.9s;
    opacity: 0;
    margin-bottom: 6.65vw;
    margin-top: 57.5vw;
  }
  #con2 ul.on {
    transform: translateX(0px);
    opacity: 1;
  }
  #con2 ul:nth-of-type(1) .placeimg {
    background: url(../img/sub1_con2_1.jpg) no-repeat center/cover;
  }
  #con2 ul:nth-of-type(2) .placeimg {
    background: url(../img/sub1_con2_2.jpg) no-repeat center/cover;
  }
  #con2 ul:nth-of-type(3) .placeimg {
    background: url(../img/sub1_con2_3.jpg) no-repeat center/cover;
  }
  #con2 .placeimg {
    width: 100%;
    height: 50vw;
    background: #4d4d4d;
    margin-bottom: 3vw;
  }
  #con2 .txt {
    width: 100%;
    height: 25vw;
  }
  footer {
    width: 100%;
    height: 45vw;
    background: #333;
  }
  footer ul {
    width: 90%;
    color: #fff;
    margin: 0px auto;
    padding-top: 5vw;
  }
  footer ul li:nth-of-type(1) {
    margin-bottom: 2vw;
    width: 20vw;
  }
  footer ul li:nth-of-type(1) img {
    width: 100%;
  }
  footer ul li:nth-of-type(2) {
    width: 100%;
    line-height: 1.4vw;
    margin-bottom: 0.3vw;
    font-size: 2.3vw;
  }
  footer ul li:nth-of-type(2) p:nth-of-type(1) {
    font-size: 2.3vw;
    margin-bottom: 1.2vw;
  }
  footer ul li:nth-of-type(2) p:nth-of-type(1) .point {
    cursor: pointer;
    font-size: 2.5vw;
  }
  footer ul li:nth-of-type(2) span {
    font-size: 2vw;
    line-height: 8vw;
  }
  footer ul li:nth-of-type(3) {
    margin-top: 2vw;
    display: flex;
    justify-content: space-between;
    width: 22vw;
  }
  footer ul li:nth-of-type(3) img {
    width: 5vw;
  }
  footer ul a {
    color: #fff;
  }
}/*# sourceMappingURL=sub1.css.map */