* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
ul {
  list-style: none;
}
a {
  text-decoration: none;
  color: #333;
  width: 100%;
  height: 100%;
  display: block;
}

body {
  word-break: keep-all;
  font-family: "Pretendard-Regular";
  overflow-x: hidden;
  color: #333;
}

// visual con title
@font-face {
  font-family: "TheJamsil5Bold";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2302_01@1.0/TheJamsil5Bold.woff2")
    format("woff2");
  font-weight: 700;
  font-style: normal;
}

// 프리텐다드
@font-face {
  font-family: "Pretendard-Regular";
  src: url("https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff")
    format("woff");
  font-weight: 400;
  font-style: normal;
}

/*pc!!!!!!!!!!!!!*/
/*pc!!!!!!!!!!!!!*/
/*pc!!!!!!!!!!!!!*/
@media (min-width: 1521px) {
  // burgerslide
  // burgerslide
  // burgerslide
  .burgerslide1 {
    display: none;
  }
  .burgerslide {
    width: 100%;
    height: 100vh;
    z-index: 50;
    position: fixed;
    top: 0px;
    right: -100%;
    background: #ffc629;
    transition: 0.5s;

    .slideclose {
      position: absolute;
      top: 40px;
      right: 50px;
      font-size: 40px;
      cursor: pointer;
    }
    div {
      width: 1050px;
      margin: 0px auto;
      ul {
        display: flex;
        justify-content: start;
        margin-top: 80px;
        li {
          margin-right: 10px;
          font-size: 30px;
        }
        li:nth-of-type(1) {
          font-size: 40px;
          width: 200px;
          font-weight: bold;
          transform: translateY(-5px);
        }
      }
      ul:nth-of-type(1) {
        margin-top: 230px;
      }
    }
  }
  .burgerslide.on {
    transform: translateX(-100%);
  }

  //header
  //header
  //header
  header {
    position: absolute;
    top: 0px;
    left: 0px;
    z-index: 30;
    width: 100%;
    border-bottom: 1px solid #fff;
    transition: 0.5s;
    height: 80px;
    overflow: hidden;
    .menubar {
      //   border: 1px solid #f00;
      text-align: center;
      width: 1500px;
      height: 80px;
      line-height: 80px;
      margin: 0px auto;
      display: flex;
      justify-content: space-between;
      h1 img {
        width: 120px;
        padding-top: 20px;
      }
      .menu {
        width: 600px;
        font-size: 17px;
        display: flex;
        justify-content: space-between;
        margin: 0px 200px;
      }
      .menu > li > a {
        color: #fff;
      }
      .menu > li > a:hover {
        color: rgb(247, 124, 9);
      }
      .menu ul li {
        line-height: 30px;
        font-size: 15px;
        transition: 0.5s;
        opacity: 0;
      }
      .menu ul li a:hover {
        color: rgb(247, 124, 9);
      }
      .login {
        width: 180px;
        font-size: 14px;
        display: flex;
        justify-content: space-between;

        a {
          color: #fff;
          transition: 0.5s;
        }
      }
    }
    .logo2 {
      display: none;
    }
  }
  .burger {
    width: 23px;
    height: 20px;
    cursor: pointer;
    margin-top: 30px;

    div {
      transition: 0.5s;
      width: 23px;
      height: 2px;
      background: #fff;
    }
    div:nth-of-type(2) {
      margin: 6px 0px;
      width: 16px;
    }
  }
  header:hover {
    background: #fff;
    height: 278px;
  }
  header.on {
    background: #fff;
    height: 278px;
  }
  header:hover .logo2 {
    display: block;
  }
  header:hover .logo1 {
    display: none;
  }
  header:hover .menu ul li {
    opacity: 1;
  }
  header:hover .menu > li > a {
    color: #333;
  }
  header:hover .login a {
    color: #555;
  }
  header:hover .burger div {
    background: #555;
  }

  // visual
  // visual
  // visual

  #visual {
    position: relative;
    width: 100%;
    height: 780px;
    background: url(../img/sub5_visual.jpg) no-repeat bottom/cover;

    .vi_text {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      text-align: center;
      color: #fff;

      h2 {
        font-size: 60px;
        font-family: "TheJamsil5Bold";
        margin-bottom: 20px;
        text-shadow: 4px 4px 5px rgba(61, 54, 54, 0.478);
        transform: translateY(50px);
        transition: 0.5s;
        opacity: 0;
      }
      h2:first-child {
        animation: up 1s forwards;
      }
      h2:last-child {
        animation: up 1s 0.3s forwards;
      }

      @keyframes up {
        100% {
          opacity: 1;
          transform: translateY(0%);
        }
      }
    }
  }
  // con1
  // con1
  // con1
  #con1 {
    width: 100%;
    // border: 1px solid #f00;
    padding-top: 150px;
    .box {
      width: 1200px;
      height: 500px;
      // border: 1px solid #f00;
      margin: 100px auto 0px;
      position: relative;
      .text {
        width: 640px;
        height: 450px;
        position: absolute;
        bottom: 0px;
        left: 0px;
        transform: translateX(-800px);
        opacity: 0;
        transition: 0.5s;
        .in {
          width: 560px;
          text-align: center;
        }
        img {
          margin: 50px 0px 20px;
        }
        h3 {
          font-size: 27px;
        }
        h4 {
          font-size: 20px;
          margin: 10px 0px 15px;
        }
        p {
          font-size: 18px;
          line-height: 25px;
        }
      }
      .text1 {
        background: #fffcf2;
        h3 {
          color: #f49b00;
        }
      }
      .text2 {
        background: #effcf8;
        h3 {
          color: #3ebdbb;
        }
      }
      .text3 {
        background: #e4f4fb;
        h3 {
          color: #4199d0;
        }
      }
      .image {
        width: 640px;
        height: 450px;
        background: #4199d0;
        position: absolute;
        top: 0px;
        right: 0px;
        transform: translateX(800px);
        opacity: 0;
        transition: 0.5s 0.3s;
      }
      .image1 {
        background: url(../img/sub5_con1_1.jpg) no-repeat center/cover;
      }
      .image2 {
        background: url(../img/sub5_con1_2.jpg) no-repeat center/cover;
      }
      .image3 {
        background: url(../img/sub5_con1_3.jpg) no-repeat center/cover;
      }
      .text.on {
        transform: translateX(0px);
        opacity: 1;
      }
      .image.on {
        transform: translateX(0px);
        opacity: 1;
      }
    }
    .box1 {
      margin-top: 0px;
    }
    .view {
      margin: 37px auto 0px;
      animation: up 1s 0.3s;
      position: relative;
      z-index: 10;
      width: 160px;
      height: 40px;

      border: 1px solid #aaa;
      text-align: center;

      .full {
        position: absolute;
        top: 0px;
        left: 0px;
        background: #aaa;
        width: 0%;
        height: 100%;
        transition: 0.5s;
      }
      p {
        font-size: 17px;
        position: relative;
        width: 100%;
        color: #777;
        transition: 0.5s;
        text-shadow: none;
        z-index: 10;
        transform: translateY(3px);
      }
      span {
        transition: 0.6s;
        margin-left: 23px;
        transform: translateY(5px);
        font-size: 23px;
      }
    }
    .view:hover .full {
      width: 100%;
    }
    .view:hover a {
      color: #fff;
    }
    .view:hover p {
      color: #fff;
    }
    .view:hover span {
      transform: rotate(180deg) translateY(-5px);
      color: #fff;
    }
  }
  // con2
  // con2
  // con2
  #con2 {
    margin-top: 150px;
    width: 100%;
    height: 726px;
    background: url(../img/sub5_con2.jpg) no-repeat bottom/cover;
    .con_title {
      padding-top: 100px;
      margin-bottom: 50px;
      color: #333;
      text-align: center;
      transform: translateY(50px);
      opacity: 0;
      transition: 0.5s;
      h4 {
        font-size: 35px;
        margin-bottom: 20px;
      }
      p {
        font-size: 20px;
        line-height: 27px;
      }
    }
    .con_title.on {
      transform: translateY(0px);
      opacity: 1;
    }
    table {
      transform: translateY(50px);
      opacity: 0;
      transition: 0.5s 0.3s;
      margin: 0px auto 50px;
      tr {
        margin-top: 30px;
      }
      th {
        width: 65px;
        text-align: left;
        height: 45px;
        font-size: 18px;
      }
      input {
        height: 35px;
        width: 600px;
        border: 1px solid #aaa;
        padding: 0px 10px;
      }
      .check {
        input {
          width: 18px;
          transform: translateY(11.5px);
        }
        td {
          transform: translateY(-10.5px);
        }
      }
      textarea {
        width: 600px;
        border: 1px solid #aaa;
        padding: 10px;
        resize: none;
      }
    }
    div:last-child {
      width: 150px;
      height: 40px;
      line-height: 40px;
      text-align: center;
      background: #888;
      margin: 0px auto;
      font-size: 18px;

      cursor: pointer;
      transform: translateY(50px);
      opacity: 0;
      transition: 0.5s 0.3s;
      p {
        color: #fff;
      }
    }
    div:last-child:hover p {
      color: #ffc629;
    }
    div:last-child.on {
      transform: translateY(0px);
      opacity: 1;
    }
    table.on {
      transform: translateY(0px);
      opacity: 1;
    }
  }

  //footer
  //footer
  //footer
  footer {
    width: 100%;
    height: 180px;
    background: #333;
    ul {
      width: 1500px;
      display: flex;
      justify-content: space-between;
      color: #fff;
      margin: 0px auto;
      padding-top: 35px;
      li:nth-of-type(1) {
        margin-top: 35px;
      }
      li:nth-of-type(2) {
        width: 1000px;
        line-height: 25px;
        p {
          font-size: 17px;
          margin-bottom: 15px;
          .point {
            cursor: pointer;
            font-size: 17px;
          }
        }
        span {
          font-size: 14px;
          line-height: 35px;
        }
      }
      li:nth-of-type(3) {
        display: flex;
        gap: 10px;
        img {
          width: 45px;
        }
      }
      a {
        color: #fff;
      }
    }
  }
}

/*태블릿!!!!!!!!!!!!!*/
/*태블릿!!!!!!!!!!!!!*/
/*태블릿!!!!!!!!!!!!!*/
@media (min-width: 768px) and (max-width: 1520px) {
  // burgerslide
  // burgerslide
  // burgerslide
  .burgerslide1 {
    display: none;
  }
  .burgerslide {
    width: 100%;
    height: 100vh;
    z-index: 50;
    position: fixed;
    top: 0px;
    right: -100%;
    background: #ffc629;
    transition: 0.5s;

    .slideclose {
      position: absolute;
      top: 2.5vw;
      right: 3vw;
      font-size: 3vw;
      cursor: pointer;
    }
    div {
      width: 69.3vw;
      margin: 0px auto;
      ul {
        display: flex;
        justify-content: start;
        margin-top: 5.5vw;
        li {
          margin-right: 0.5vw;
          font-size: 2vw;
        }
        li:nth-of-type(1) {
          font-size: 2.6vw;
          width: 13vw;
          font-weight: bold;
          transform: translateY(-5px);
        }
      }
      ul:nth-of-type(1) {
        margin-top: 15vw;
      }
    }
  }
  .burgerslide.on {
    transform: translateX(-100%);
  }

  //header
  //header
  //header
  header {
    position: absolute;
    top: 0px;
    left: 0px;
    z-index: 30;
    width: 100%;
    border-bottom: 1px solid #fff;
    transition: 0.5s;
    height: 5.2vw;
    overflow: hidden;
    .menubar {
      // border: 1px solid #f00;
      text-align: center;
      width: 90%;
      height: 5.2vw;
      line-height: 5.2vw;
      margin: 0px auto;
      display: flex;
      justify-content: space-between;
      h1 img {
        width: 7.5vw;
        transform: translateY(-0.1vw);
      }
      .menu {
        width: 40vw;
        font-size: 1.1vw;
        display: flex;
        justify-content: space-between;
      }
      .menu > li > a {
        color: #fff;
      }
      .menu > li > a:hover {
        color: rgb(247, 124, 9);
      }
      .menu ul li {
        line-height: 1.9vw;
        font-size: 1vw;
        transition: 0.5s;
        opacity: 0;
      }
      .menu ul li a:hover {
        color: rgb(247, 124, 9);
      }
      .login {
        width: 12vw;
        font-size: 0.9vw;
        display: flex;
        justify-content: space-between;

        a {
          color: #fff;
          transition: 0.5s;
        }
      }
    }
    .logo2 {
      display: none;
    }
  }
  .burger {
    width: 1.5vw;
    height: 1.34vw;
    cursor: pointer;
    margin-top: 2vw;

    div {
      transition: 0.5s;
      width: 1.5vw;
      height: 2px;
      background: #fff;
    }
    div:nth-of-type(2) {
      margin: 0.4vw 0px;
      width: 1.1vw;
    }
  }
  header:hover {
    background: #fff;
    height: 18vw;
  }

  header:hover .logo2 {
    display: block;
  }
  header:hover .logo1 {
    display: none;
  }
  header:hover .menu ul li {
    opacity: 1;
  }
  header:hover .menu > li > a {
    color: #333;
  }
  header:hover .login a {
    color: #555;
  }
  header:hover .burger div {
    background: #555;
  }

  // visual
  // visual
  // visual

  #visual {
    position: relative;
    width: 100%;
    height: 51.2vw;
    background: url(../img/sub5_visual.jpg) no-repeat top/cover;

    .vi_text {
      width: 100%;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      text-align: center;
      color: #fff;

      h2 {
        font-size: 3.9vw;
        font-family: "TheJamsil5Bold";
        margin-bottom: 2vw;
        text-shadow: 4px 4px 5px rgba(61, 54, 54, 0.478);
        transform: translateY(50px);
        transition: 0.5s;
        opacity: 0;
        animation: up 1s forwards;
      }

      p {
        font-size: 2vw;
        text-shadow: 2px 2px 3px rgba(61, 54, 54, 0.478);
        transform: translateY(50px);
        transition: 0.5s 0.3s;
        opacity: 0;
        animation: up 1s 0.5s forwards;
      }
      @keyframes up {
        100% {
          opacity: 1;
          transform: translateY(0%);
        }
      }
    }
  }
  // con1
  // con1
  // con1
  #con1 {
    width: 100%;
    // border: 1px solid #f00;
    padding-top: 10vw;
    .box {
      width: 80vw;
      height: 33.4vw;
      margin: 6.5vw auto 0px;
      position: relative;
      .text {
        width: 43vw;
        height: 29.8vw;
        position: absolute;
        bottom: 0px;
        left: 0px;
        transform: translateX(-800px);
        opacity: 0;
        transition: 0.5s;
        .in {
          width: 37vw;
          text-align: center;
        }
        img {
          width: 6vw;
          margin: 3.5vw 0px 1.2vw;
        }
        h3 {
          font-size: 2vw;
        }
        h4 {
          font-size: 1.35vw;
          margin: 0.7vw 0px 1vw;
        }
        p {
          font-size: 1.2vw;
          line-height: 1.7vw;
        }
      }
      .text1 {
        background: #fffcf2;
        h3 {
          color: #f49b00;
        }
      }
      .text2 {
        background: #effcf8;
        h3 {
          color: #3ebdbb;
        }
      }
      .text3 {
        background: #e4f4fb;
        h3 {
          color: #4199d0;
        }
      }
      .image {
        width: 43vw;
        height: 29.8vw;
        position: absolute;
        top: 0px;
        right: 0px;
        transform: translateX(800px);
        opacity: 0;
        transition: 0.5s 0.3s;
      }
      .image1 {
        background: url(../img/sub5_con1_1.jpg) no-repeat center/cover;
      }
      .image2 {
        background: url(../img/sub5_con1_2.jpg) no-repeat center/cover;
      }
      .image3 {
        background: url(../img/sub5_con1_3.jpg) no-repeat center/cover;
      }
      .text.on {
        transform: translateX(0px);
        opacity: 1;
      }
      .image.on {
        transform: translateX(0px);
        opacity: 1;
      }
    }
    .box1 {
      margin-top: 0px;
    }
    .view {
      margin: 2.3vw auto 0px;
      animation: up 1s 0.3s;
      position: relative;
      z-index: 10;
      width: 11vw;
      height: 2.7vw;

      border: 1px solid #aaa;
      text-align: center;

      .full {
        position: absolute;
        top: 0px;
        left: 0px;
        background: #aaa;
        width: 0%;
        height: 100%;
        transition: 0.5s;
      }
      p {
        font-size: 1.1vw;
        position: relative;
        width: 100%;
        color: #777;
        transition: 0.5s;
        text-shadow: none;
        z-index: 10;
        transform: translateY(0.25vw);
      }
      span {
        transition: 0.6s;
        margin-left: 1.2vw;
        transform: translateY(0.35vw);
        font-size: 1.5vw;
      }
    }
    .view:hover .full {
      width: 100%;
    }
    .view:hover a {
      color: #fff;
    }
    .view:hover p {
      color: #fff;
    }
    .view:hover span {
      transform: rotate(180deg) translateY(-0.35vw);
      color: #fff;
    }
  }
  // con2
  // con2
  // con2
  #con2 {
    margin-top: 10vw;
    width: 100%;
    // border: 1px solid #f00;

    padding-bottom: 6vw;
    background: url(../img/sub5_con2.jpg) no-repeat bottom/cover;
    .con_title {
      padding-top: 6.6vw;
      margin-bottom: 3.3vw;
      color: #333;
      text-align: center;
      transform: translateY(50px);
      opacity: 0;
      transition: 0.5s;
      h4 {
        font-size: 2.35vw;
        margin-bottom: 1.3vw;
      }
      p {
        font-size: 1.2vw;
        line-height: 1.75vw;
      }
    }
    .con_title.on {
      transform: translateY(0px);
      opacity: 1;
    }
    table {
      transform: translateY(50px);
      opacity: 0;
      transition: 0.5s 0.3s;
      margin: 0px auto 3.35vw;

      th {
        width: 4.4vw;
        text-align: left;
        height: 2.95vw;

        font-size: 1.3vw;
      }
      input {
        height: 2.5vw;
        width: 40vw;
        border: 1px solid #aaa;
        padding: 0px 0.8vw;
      }
      .check {
        input {
          width: 1.3vw;
          transform: translateY(0.8vw);
        }
        td {
          font-size: 1.2vw;
          transform: translateY(-0.7vw);
        }
      }
      textarea {
        width: 40vw;
        border: 1px solid #aaa;
        padding: 0.8vw;
        resize: none;
      }
    }
    div:last-child {
      width: 10vw;
      height: 2.7vw;
      line-height: 2.7vw;
      text-align: center;
      background: #888;
      margin: 0px auto;
      font-size: 1.3vw;

      cursor: pointer;
      transform: translateY(50px);
      opacity: 0;
      transition: 0.5s 0.3s;
      p {
        color: #fff;
      }
    }
    div:last-child:hover p {
      color: #ffc629;
    }
    div:last-child.on {
      transform: translateY(0px);
      opacity: 1;
    }
    table.on {
      transform: translateY(0px);
      opacity: 1;
    }
  }

  //footer
  //footer
  //footer
  footer {
    width: 100%;
    height: 12vw;
    background: #333;
    ul {
      width: 90%;
      display: flex;
      justify-content: space-between;
      color: #fff;
      margin: 0px auto;
      padding-top: 2vw;
      li:nth-of-type(1) {
        margin-top: 3vw;
        width: 9vw;
        img {
          width: 100%;
        }
      }
      li:nth-of-type(2) {
        width: 62vw;
        line-height: 2vw;
        margin-top: 0.6vw;
        // border: 1px solid #f00;
        font-size: 1.1vw;
        p {
          font-size: 1vw;
          margin-bottom: 1.2vw;
          .point {
            cursor: pointer;
            font-size: 1.1vw;
          }
        }
        span {
          font-size: 0.9vw;
          line-height: 2vw;
        }
      }
      li:nth-of-type(3) {
        display: flex;
        gap: 0.8vw;
        img {
          width: 3vw;
        }
      }
      a {
        color: #fff;
      }
    }
  }
}

/*모바일!!!!!!!!!!!!!*/
/*모바일!!!!!!!!!!!!!*/
/*모바일!!!!!!!!!!!!!*/
@media (max-width: 767px) {
  // burgerslide
  // burgerslide
  // burgerslide
  .burgerslide {
    display: none;
  }
  .burgerslide1 {
    width: 100%;
    height: 100vh;
    z-index: 50;
    position: fixed;
    top: 0px;
    right: -100%;
    background: #ffc629;
    transition: 0.5s;
    .burgerall {
      position: absolute;
      width: 85%;
      top: 43%;
      left: 50%;
      transform: translate(-50%, -50%);
    }

    .slideclose {
      position: absolute;
      top: 4vw;
      right: 4.5vw;
      font-size: 6vw;
      cursor: pointer;
    }
    .burgertext {
      margin: 6vw auto;
      font-size: 5vw;
      ul {
        width: 100%;
        margin-top: 2vw;
        display: flex;
        justify-content: start;
        font-size: 3.2vw;
        li {
          cursor: pointer;
        }
        .dot {
          margin: 0px 0.7vw;
          cursor: none;
        }
      }
    }
    .login {
      width: 35%;
      display: flex;
      justify-content: space-between;
      margin: 15vw auto 0px;
      font-size: 2.5vw;
    }
  }
  .burgerslide1.on {
    transform: translateX(-100%);
  }

  //header
  //header
  //header
  header {
    position: absolute;
    top: 0px;
    left: 0px;
    z-index: 30;
    width: 100%;
    border-bottom: 1px solid #fff;
    .menubar {
      // border: 1px solid #f00;
      text-align: center;
      width: 90%;
      margin: 0px auto;
      display: flex;
      justify-content: space-between;
      padding-bottom: 1vw;
      h1 img {
        width: 13vw;
        transform: translateY(-0.7vw);
      }
      .menu {
        display: none;
      }

      .login {
        display: none;
      }
    }
    .logo2 {
      display: none;
    }
  }
  .burger {
    margin-right: 2.2vw;
    width: 5vw;
    height: 3.55vw;
    cursor: pointer;
    margin-top: 3.5vw;
    div {
      transition: 0.5s;
      width: 5vw;
      height: 0.45vw;
      background: #fff;
    }
    div:nth-of-type(2) {
      margin: 1.1vw 0px;
      width: 3.5vw;
    }
  }
  // visual
  // visual
  // visual

  #visual {
    position: relative;
    width: 100%;
    height: 95vw;
    background: url(../img/sub5_visual.jpg) no-repeat top/cover;

    .vi_text {
      width: 100%;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      text-align: center;
      color: #fff;

      h2 {
        font-size: 6.5vw;
        font-family: "TheJamsil5Bold";
        margin-bottom: 2.5vw;
        text-shadow: 4px 4px 5px rgba(61, 54, 54, 0.478);
        transform: translateY(50px);
        transition: 0.5s;
        opacity: 0;
        animation: up 1s forwards;
      }

      p {
        font-size: 4vw;
        text-shadow: 2px 2px 3px rgba(61, 54, 54, 0.478);
        transform: translateY(50px);
        transition: 0.5s 0.3s;
        opacity: 0;
        animation: up 1s 0.5s forwards;
      }
      @keyframes up {
        100% {
          opacity: 1;
          transform: translateY(0%);
        }
      }
    }
  }
  // con1
  // con1
  // con1
  #con1 {
    width: 100%;
    // border: 1px solid #f00;
    padding-top: 10vw;
    .box {
      width: 90%;
      height: 68vw;
      margin: 6.5vw auto 0px;
      position: relative;
      .text {
        width: 100%;
        height: 38vw;
        position: absolute;
        bottom: 0px;
        left: 0px;
        transform: translateX(60vw);
        opacity: 0;
        transition: 0.5s 0.3s;
        .in {
          width: 85%;
          text-align: center;
          margin: 0px auto;
          br {
            display: none;
          }
        }
        img {
          display: none;
        }
        h3 {
          margin-top: 5vw;
          font-size: 3.8vw;
        }
        h4 {
          font-size: 2.7vw;
          margin: 1.5vw 0px 2.5vw;
        }
        p {
          font-size: 2.5vw;
          line-height: 3.6vw;
        }
      }
      .text1 {
        background: #fffcf2;
        h3 {
          color: #f49b00;
        }
      }
      .text2 {
        background: #effcf8;
        h3 {
          color: #3ebdbb;
        }
      }
      .text3 {
        background: #e4f4fb;
        h3 {
          color: #4199d0;
        }
      }
      .image {
        width: 100%;
        height: 30vw;
        position: absolute;
        top: 0px;
        right: 0px;
        transform: translateX(-60vw);
        opacity: 0;
        transition: 0.5s;
      }
      .image1 {
        background: url(../img/sub5_con1_1.jpg) no-repeat center/cover;
      }
      .image2 {
        background: url(../img/sub5_con1_2.jpg) no-repeat center/cover;
      }
      .image3 {
        background: url(../img/sub5_con1_3.jpg) no-repeat top/cover;
      }
      .text.on {
        transform: translateX(0px);
        opacity: 1;
      }
      .image.on {
        transform: translateX(0px);
        opacity: 1;
      }
    }
    .box1 {
      margin-top: 0px;
    }
    .view {
      margin: 3.5vw auto 0px;
      animation: up 1s 0.3s;
      position: relative;
      z-index: 10;
      width: 23vw;
      height: 5vw;

      border: 1px solid #aaa;
      text-align: center;

      .full {
        position: absolute;
        top: 0px;
        left: 0px;
        background: #aaa;
        width: 0%;
        height: 100%;
        transition: 0.5s;
      }
      p {
        font-size: 2.5vw;
        position: relative;
        width: 100%;
        color: #777;
        transition: 0.5s;
        text-shadow: none;
        z-index: 10;
        transform: translateY(0.3vw);
      }
      span {
        transition: 0.6s;
        margin-left: 2.8vw;
        transform: translateY(0.5vw);
        font-size: 3vw;
      }
    }
    .view:hover .full {
      width: 100%;
    }
    .view:hover a {
      color: #fff;
    }
    .view:hover p {
      color: #fff;
    }
    .view:hover span {
      transform: rotate(180deg) translateY(-0.5vw);
      color: #fff;
    }
  }
  // con2
  // con2
  // con2
  #con2 {
    margin-top: 16.1vw;
    width: 100%;
    // border: 1px solid #f00;
    padding-bottom: 6vw;
    background: url(../img/sub5_con2.jpg) no-repeat bottom/cover;
    .con_title {
      padding-top: 10vw;
      margin-bottom: 3.3vw;
      color: #333;
      text-align: center;
      transform: translateY(50px);
      opacity: 0;
      transition: 0.5s;
      h4 {
        font-size: 3.8vw;
        margin-bottom: 3vw;
      }
      p {
        font-size: 2.7vw;
        line-height: 3.5vw;
      }
    }
    .con_title.on {
      transform: translateY(0px);
      opacity: 1;
    }
    table {
      text-align: center;
      width: 90%;
      transform: translateY(50px);
      opacity: 0;
      transition: 0.5s 0.3s;
      margin: 0px auto 3.35vw;

      th {
        width: 10vw;
        height: 8vw;
        text-align: left;
        font-size: 3vw;
      }
      input {
        height: 6vw;
        width: 100%;
        border: 1px solid #aaa;
        padding: 1vw 2vw;
      }
      .check {
        input {
          width: 3.5vw;
          transform: translateY(1.9vw);
          margin: 0px 0.8vw;
        }
        td {
          text-align: left;
          font-size: 3vw;
          transform: translateY(-1.5vw);
        }
      }
      textarea {
        width: 100%;
        border: 1px solid #aaa;
        padding: 1vw 2vw;
        resize: none;
      }
    }
    div:last-child {
      width: 25vw;
      height: 6vw;
      line-height: 6vw;
      text-align: center;
      background: #888;
      margin: 0px auto;
      font-size: 3vw;

      cursor: pointer;
      transform: translateY(50px);
      opacity: 0;
      transition: 0.5s 0.3s;
      p {
        color: #fff;
      }
    }
    div:last-child:hover p {
      color: #ffc629;
    }
    div:last-child.on {
      transform: translateY(0px);
      opacity: 1;
    }
    table.on {
      transform: translateY(0px);
      opacity: 1;
    }
  }

  //footer
  //footer
  //footer
  footer {
    width: 100%;
    height: 45vw;
    background: #333;
    ul {
      width: 90%;

      color: #fff;
      margin: 0px auto;
      padding-top: 5vw;
      li:nth-of-type(1) {
        margin-bottom: 2vw;
        width: 20vw;
        img {
          width: 100%;
        }
      }
      li:nth-of-type(2) {
        width: 100%;
        line-height: 1.4vw;
        margin-bottom: 0.3vw;
        // border: 1px solid #f00;
        font-size: 2.3vw;
        p:nth-of-type(1) {
          font-size: 2.3vw;
          margin-bottom: 1.2vw;
          .point {
            cursor: pointer;
            font-size: 2.5vw;
          }
        }
        span {
          font-size: 2vw;
          line-height: 8vw;
        }
      }
      li:nth-of-type(3) {
        margin-top: 2vw;
        display: flex;
        justify-content: space-between;
        width: 22vw;

        img {
          width: 5vw;
        }
      }
      a {
        color: #fff;
      }
    }
  }
}
